body{
    background-image: url("./assets/bg.png");
}
.container{
    display:grid;
    position: fixed;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 580px;
    gap:5px;
    position:absolute;
    top: 13%;
    left: 10rem;
}
.black{
   background-color: #647E0F;
}
.white{
    background-color: #8FB01B;
}
.box{
    height:60px;
    width:60px;
    border-radius: 5px;
}
.navigation{
    display:flex;
}
.navigation > span{
    align-items: center;
}
.border-success-subtle {
    border-color: #647E0F !important;
}
.bg-success-subtle {
    background-color: #8FB01B !important;
}
.theme{
    width:100%;
    position:fixed;
    bottom:0;
}
