body{
    background-image: url("./assets/spooky_theme.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
    margin:0;
    padding:0;
    height:100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation{
    display:flex;
    justify-self: flex-start;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90px;
    padding-top: 10px;
}
.points svg{
    margin-right:15px;
    margin-left:10px;
    fill:#c59ef7;
}
.points span{
    font-family:fantasy;
    font-size:large;
}
span{
    margin-left:50px;
}
.icons{
    display:flex;
    justify-content: space-evenly;
    margin-left:auto;
    margin-right: 50px;
}
.icons > div{
    margin-left:30px;
}
.border-success-subtle {
    border-color:black !important;
}
.bg-success-subtle {
    background-color: rgb(49, 49, 49) !important;
}
.theme{
    width:100%;
    position:fixed;
    bottom:0;
}
.icons svg{
    fill:black;
}
.text-success-emphasis {
    color: white !important;
}

.grid-container{
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    height: 90%;
    width: 100%;
}
.container{
    display:grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 490px;
    gap:5px;
}
.box:hover{
    background-color:#D1B0FB !important;
}
.black{
   background-color:#a869fb !important;
}
.white{
    background-color:#b390f9 !important;
}
.box{
    height:50px;
    width:50px;
    border-radius: 5px;
}

@media (max-width:770px) and (min-width:580px) 
{
    .grid-container{
        order: 1;
        justify-self: center;
        align-self: center;
    }
    .container{
        display:grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
        width: 400px;
        height: 400px;
        gap:5px;
    }
    .box{
        height:40px;
        width:40px;
        border-radius: 5px;
    }

}
@media (max-width:579px) 
{
    .grid-container{
        order: 1;
        justify-self: center;
        align-self: center;
    }
    .container{
        display:grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 1fr);
        width: 310px;
        height: 310px;
        gap:5px;
    }
    .box{
        height:30px;
        width: 30px;
        border-radius: 5px;
    }

}